body{
    background-image:linear-gradient(lightgreen, lightblue);
    text-align: center;
    font-family: 'Irish Grover';
}

div{
width: 300px;
  border: 15px solid lightpink;
  background-color: lightskyblue;
  padding: 30px;
  margin: auto;
}

